<table>
  <tr>
    <th>V=<%=current_user.count_of_visited_countries%></th>
    <td><%=current_user.count_of_visited_countries%></td>
  </tr><tr>
  <th>N/V=<%=current_user.count_of_unvisited_countries%></th>
  <td><%=current_user.count_of_unvisited_countries%></td>
</tr>
</table>